 #heander-content{
    height: 100%;
    width: 100%;
}

#header-content h1{
  text-align: center;
  font-size: 4rem;
  color: midnightblue;
  font-weight: bolder;
}

#header-content p{
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: white;
}


#header{
  height: 50vh;
  background-color:hsla(359,100%,80%,1);
  background-image: linear-gradient(to bottom right, #0008f8,#ffffff, #ffffff,#ff0000,#ff0000,#ff0000);
  display: flex;
  align-items: center;
  justify-content: center;
}